<h1><%= @student.name %></h1>
<ul>

  <li><%= image_tag(@student.gravatar_url) %></li>
  <li><%= @student.email %></li>
  <li><%= @student.cohort_name %></li>
  <a id="up_vote_button" href="/comment_vote">Up Vote Button</a>
 <li><%= @student.student_points %><%= link_to "Clicky", student_path, method: :patch, id: "up_vote_button" %></li>
  <li><%= @student.twitter %></li>

  <%= form_tag student_path(@student), :method => 'patch', :id => 'student'  do %>
   <%= text_field_tag(:body) %>
   <%= submit_tag("Submit") %>
<% end %>

</ul>
