<header>
<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    
    <%= link_to "Sign out", logout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with DBC_Socrates", "/auth/dbc", id: "sign_in" %>
  <% end %>
  <ul>
    <% if current_user %>
    <li><%= link_to "Profile", student_path(Student.where(uid: current_user.uid).first)  %></li>
    <%end%>
    <li><%= link_to "Leader Board", students_path %></li>
    <li>Contact Us</li>
  </ul> 

</div>
</header>
