<!DOCTYPE html>
<html>
<head>
  <title>DbcPower</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<% if current_user %>
  <body>
<% else %>
  <body class="front_page">
<% end %>
  <!-- following user-widget is for oauth  -->
  <%= render 'layouts/header' %>
  <%= yield %>
</body>
</html>
